@font-face{
    font-family:"Caveat-VariableFont_wght";
    src: url(/app_one/static/src/Fonts/Caveat-VariableFont_wght.ttf);
}



@font-face{
    font-family:"Caveat-VariableFont";
    src: url(/app_one/static/src/Fonts/Caveat-VariableFont.ttf);
}