.header_custom table thead>tr>th{
    background-color: #739999 !important;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align:center;
}

.o_web_ribbon {
    z-index: 10 !important;
}


